<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Fantasy Module Parser" Manufacturer="Fantasy Module Parser, Ltd." Id="8CBB4B33-7A10-4007-95EC-37DED3F87CC3" UpgradeCode="1D44D57D-11DD-43CC-982E-C396895CB839" Language="1033" Codepage="1252" Version="1.0.0">
  <Package Id="*" Keywords="Installer" Description="Fantasy Module Parser's Installer" Comments="Fantasy Module Parser is a registered trademark of Fantasy Module Parser, Ltd." InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="FantasyModuleParser" Name="Fantasy Module Parser">
          <Directory Id="INSTALLDIR" Name="Fantasy Module Parser 1.0"/>
        </Directory>
      </Directory>
    </Directory>  
  </Product>
</Wix>
